<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>EMPLOYEE MANAGEMENT SYSTEM</title>


<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
	
	 <link rel="stylesheet" 
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
       crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<style type="text/css">
#divnav
{
   display: flex;
   justify-content: space-between;
   
}
#home
{ 
float: left;
margin-right: 700px;
}
nav
{ 
height: 20px;

}
a:hover
{
 background: #E5FC14;
background: linear-gradient(to top right, #E5FC14 0%, #F70AEF 91%);
  ;
  
  
}
i
{
margin-right: 10px;
}
#div1
{
  float: left;
}
#div2
{
float: right;
}
	</style>
</head>
<body style="background: #00FF00;
background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
">
<!-- NAV BAR -->
	<nav class="navbar navbar-expand-lg  bg-info text-white">
		<div class="container-fluid" id="divnav">
			<a id="home" class="navbar-brand" href="#">EMPLOYEE MANAGEMENT SYSTEM</a>
			<a class="navbar-brand" href="home"><i class="fa-solid fa-house fa-bounce" style="color: #f4eb01;"></i>Home</a>
			<a class="navbar-brand" href="aboutus"><i class="fa-solid fa-circle-info fa-shake" style="color: #eb04fb;"></i>About Us</a>
		</div>
	</nav>
	<!-- NAV BAR -->
	<center>
	<marquee direction="right" scrollamount="20"><h1 style="font-size: xxl;font-style: italic;font-weight: bold;color: white;">EMPLOYEE MANAGEMENT SYSTEM</h1></marquee>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<div id="div1">
	<i class="fa-solid fa-users fa-beat fa-10x" style="color: #f104c6;"></i>
	</div>
	<div id="div2">
	<i class="fa-solid fa-address-card fa-beat fa-10x"></i>
	</div>
	</center>
	<!-- CDN LINKS -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<!-- CDN LINKS -->
</body>
</html>